/* You can add global styles to this file, and also import other style files */

.btn {
    color: aqua !important;
}
.btn:hover {
    color: black !important;
    background-color: #147b83 !important;
}

.close:hover{
    background-color: #c01d2a !important;
}